/* Elements */

.navBar{
  position: right;
  color:white;
  background-color: black;
  padding:2px;
  float:right;
}
.button{
float:left;
}
ul{
color:purple;
background-color: green;
}

li{
  color:red;
}
